fastapi
uvicorn
python-multipart
motor
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pillow
numpy
insightface
onnxruntime
python-dotenv
pydantic-settings
uuid
requests
opencv-python
pyjwt
passlib[bcrypt]
python-jose[cryptography]
aiosqlite

email-validator
cryptography
